.entertainments {
  margin-bottom: 45px;
  .entertainments__item {
  margin-bottom: -11px;
  }
  .entertainments__item--house,
  .entertainments__item--souvenirs,
  .entertainments__item--food {
    position: relative;
    display: block;
    padding-right: 10px;
    padding-top: 36px;
    padding-left: 70px;
    text-align: left;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    h4 {
      margin: 0;
      font-family: "PT Sans Bold", Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
      text-transform: uppercase;
    }
    svg {
      position: absolute;
      width: 40px;
      height: 40px;
      top: 24px;
      left: 21px;
      fill: $theme-blue;
    }
    p {
      margin-top: 16px;
    }
  }
}

@media (min-width: $tablet-width) {
  .entertainments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .entertainments__item--house,
    .entertainments__item--souvenirs,
    .entertainments__item--food {
      padding: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      svg {
        position: relative;
        width: 76px;
        height: 76px;
        top: auto;
        left: auto;
      }
    }
    .entertainments__item {
      padding-top: 60px;
      padding-bottom: 60px;
      display: flex;
      flex-direction: column;
    }
    .entertainments__item--house {
      order: 0;
    }
    .entertainments__item--souvenirs {
      order: 2;
    }
    .entertainments__item--food {
      order: 1;
    }
  }
}
