.main-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  a {
    display: block;
    width: 100%;
    padding: 14px 0;
    text-decoration: none;
    font-weight: bold;
    color: black;
    @media (max-width: $mobile-width-only) {
      color: $theme-white;
    }
  }
  @media (max-width: $tablet-width) {
    background-color: $theme-blue;
    // display: none;
    .main-nav__list {
      flex-direction: column;
    }
  }
  .main-nav__list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }
  .main-nav__item {
    display: block;
    width: 100%;
    text-align: center;
    &:nth-child(2) {
      margin-right: 156px;
    }
  }
}

.main-nav__toggle {
  border: none;
}

.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  &::after {

  }
}
