.main-nav {
  position: relative;
  flex-direction: column;
  width: 100%;
  a {
    display: block;
    width: 100%;
    padding: 14px 0;
    font-family: "PT Sans Bold", Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: $theme-white;
  }
  .main-nav__list {
    min-height: 56px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $theme-blue;
  }
  .main-nav__item {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2),
      inset 0px 1px 0px rgba(255, 255, 255, 0.2);
    &:first-child {
      box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2);
    }
    &:last-child {
      box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
    }
    &:last-child::after {
      position: absolute;
      bottom: 0;
      display: block;
      content: "";
      width: 100%;
      height: 6px;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 100%
      );
    }
  }
  .main-nav__item--logo {
    display: none;
  }
  .main-nav__toggle {
    z-index: 1;
    border: none;
    position: absolute;
    top: 13px;
    right: 20px;
    width: 23px;
    height: 22px;
    background: none;
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      fill: $theme-white;
    }
  }
}

.main-nav--openned {
  display: block;
}
.main-nav--closed {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    .main-nav__toggle {
      display: none;
    }
    .main-nav__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      background-color: $theme-white;
    }
    .main-nav__item {
      display: flex;
      align-items: center;
      width: 20%;
      box-shadow: none;
      a {
        font-size: 14px;
        color: $theme-black;
        &:hover {
          color: $theme-blue;
        }
        &:active {
          color: rgba($theme-black, 0.3%);
        }
      }
      &:first-child {
        box-shadow: none;
      }
      &:last-child {
        box-shadow: none;
      }
      &:last-child::after {
        background: none;
      }
    }
    .main-nav__item--active {
      a {
        color: $menu-active-active;
        &:hover {
          color: $menu-active-hover;
        }
        &:active {
          color: rgba($menu-active-active, 0.3);
        }
      }
    }
    .main-nav__item--logo {
      display: block;
      position: relative;
      text-align: center;
      a {
        padding: 0;
        margin: auto;
        position: absolute;
        width: 101px;
        height: 84px;
        top: 0;
        left: 14px;
        right: 0;
        z-index: 1;
        background-image: url("../img/logotype-mobile.svg");
        background-repeat: no-repeat;
        background-position: center 0;
      }
    }
  }
  .main-nav--closed {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    .main-nav__item--logo {
      a {
        width: 186px;
        height: 96px;
        background-image: url("../img/logo-sedona-desktop.svg");
      }
    }
  }
}
