.main-header {
  .main-header__background {
    display: block;
    height: 389px;
    padding: 30px;
    background-color: #5d8aba;
    // background: url("../img/back-mobile.jpg");
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    &::before {
      display: block;
      box-sizing: content-box;
      height: 100%;
      content: "";
      background: url("../img/promo-text.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  h2 {
    margin: 0;
    padding: 32px 12px;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
  }
  // &::after {
  //   position: relative;
  //   display: block;
  //   content: '';
  //   bottom: -19px;
  //   width: 100%;
  //   height: 47px;
  //   background-image: url("../img/bg-triangle.svg");
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-size: contain;
  // }
}
