.page-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 56px;
    .page-header__logo {
      position: absolute;
      margin: 0 auto;
    }
}
