.page-photo {
    h2 {
        text-align: center;
        font-family: 'PT Sans Bold', Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        color: $theme-black;
        text-transform: uppercase;
    }
    p {
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
        font-family: 'PT Sans Regular', Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: $theme-black;
        text-transform: uppercase;
    }
}