.promo {
  background-image: url("img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  p {
    margin: 0;
  }
  .promo__item {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 256px;
  }
  .promo__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid red;
    color: white;
    background-color: $theme-blue;
  }
  .promo__img {
    border: 1px solid red;
  }
  .promo__item--grey {
    background-color: $theme-grey;
  }
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .promo__item--motel {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-start: 1;
      grid-column-end: 4;
      .promo__description {
        grid-column-start: 1;
        grid-column-end: 2;
      }
      .promo__img {
        grid-column-start: 2;
        grid-column-end: 4;
      }
    }
    .promo__item--brige {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-start: 1;
      grid-column-end: 4;
      .promo__description {
        grid-column-start: 3;
        grid-column-end: 4;
      }
      .promo__img {
        order: -1;
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }
  h3 {
    margin: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
  }
}
