.promo {
  background-image: url("../../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  p {
    margin: 0;
  }
  .promo__item {
    min-height: 167px;
    h3 {
      margin: 0;
      font-family: "PT Sans Bold", Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
      text-transform: uppercase;
    }
    span,
    p {
      font-family: "PT Sans", Arial, Helvetica, sans-serif;
      font-size: 14px;
      line-height: 21px;
      text-transform: uppercase;
    }
    img {
      display: block;
    }
  }
  .promo__description {
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $theme-white;
    background-color: $theme-blue;
  }
  .promo__item--grey {
    display: flex;
    align-items: center;
    position: relative;
    background-color: $theme-grey;
    text-align: center;
    &::before {
      margin: 0 auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      width: 280px;
      content: "";
      background-color: $theme-deep-grey;
    }
    &:last-child::before {
      display: none;
    }
  }
}
@media (min-width: $tablet-width) {
  .promo {
    display: grid;
    grid-template-columns: 1fr;
    .promo__description {
      padding: 0 2em;
    }
    .promo__item--motel {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .promo__description {
        grid-column-start: 1;
        grid-column-end: 2;
      }
      .promo__img {
        grid-column-start: 2;
        grid-column-end: 4;
      }
    }
    .promo__item--brige {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .promo__description {
        grid-column-start: 3;
        grid-column-end: 4;
      }
      .promo__img {
        order: -1;
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }
}
