.see-hotel {
  padding: 10%;
  position: relative;
  .see-hotel__title {
    margin-top: 30px;
    margin-bottom: 27px;
    font-family: 'PT Sans Bold', Arial, Helvetica, sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .see-hotel__description {
    margin: 0;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
  }
  .see-hotel__button {
    display: block;
    margin-top: 27px;
    margin-right: auto;
    margin-bottom: 27px;
    margin-left: auto;
    padding: 15px;
    max-width: 280px;
    font-family: 'PT Sans Bold', Arial, Helvetica, sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: $theme-white;
    border: none;
    background-color: $theme-blue;
    text-decoration: none;
  }
}
