.social {
  .social__list {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    padding: 0;
    padding-left: 4px;
    list-style: none;
  }

  li {
    margin-right: 6px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    background-color: $theme-blue;
    box-sizing: border-box;
  }
  svg {
    width: 41%;
    height: 41%;
    fill: $theme-white;
  }
}
