$page-bg: #E7E5E5;
$theme-white: #FFFFFF;
$theme-black: #000000;
$theme-blue: #81B3D2;
$theme-grey: #EEEEEE;
$theme-deep-grey: #D6D6D6;
$theme-border: #DBDBDB;
$description-light: #F2F2F2;
$description-dark: #EAEAEA;
$menu-active-hover: #766357;
$menu-active-active: #604E43;
$form-hover: #E5E5E5;
$form-active: #D5D5D5;
$form-checked: #333333;
$button-hover: #669EC0;
$button-active: #5496BD;
$contact-icon: #E6E6E6;
$control-button: #5C6870;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
